.container{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;


}
.left{
    background-color:olivedrab;
    display: inline-block;
    padding: 3rem;
    margin-left: 80px;
    border-radius: 20px;
    color: wheat;
}
.right{
    
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    padding: 2rem;
    border-radius: 20px;
}
.inc,.dec,.res{
    padding: 1rem;
    background-color:olive;
    margin: 2rem;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    border: none;
    
}
.desc{
    font-size: 4rem;
    color: orangered;
}